@import 'utility';

.About {
  margin: 0 auto;
  // padding-top: 4em;
  height: 100vh;
  max-width: 1000px;


  div {
    text-align: center;
    // color: black;
  }

  .aboutMe {
    background-image: url('../images/gity.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutMeHeader {
      font-size: 4em;
    }

    .fade-in-1 {
      animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation-delay: 300ms;
    }

    .description {
      margin: 80px auto 0;
      width: 800px;
      background-color: transparentize($theme-color, 0.3);
      padding: 15px;
      border-radius: 5px;
      font-size: 1.5em;
    }

    .fade-in-2 {
      animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation-delay: 1.2s;
    }
  }

  .skills {
    // background-image: url('../images/grandcanyon2.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // box-shadow: 0 0 20px black;
    height: 100%;
    width: 100%;

    .Skills {
      // margin: 5em auto;
      height: 100%;
      min-height: 90vh;
      max-width: 1000px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .base-languages {
        margin: 1em auto;

        img {
          width: 20em;
        }
      }

      .sass {
        margin:1em auto;

        img {
          width: 15em;
        }
      }

      .reactlogo {
        margin:1em auto;

        img {
          width: 25em;
        }
      }

      .mobx {
        margin:1em auto;

        img {
          width: 10em;
        }
      }

      .wordpress {
        margin:1em auto;

        img {
          width: 30em;
        }
      }

      .slack {
        margin:1em auto;

        img {
          width: 25em;
        }
      }
    }
  }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

}
