@import 'utility';

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: $theme-color;
  // display: flex;
  // justify-content: space-around;
}

.Navbar {
  // margin-top: 100px;
  margin: 0 auto;
  // background-color: $theme-color;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;

  h1 {
    margin: 5px;
  }

  h1 a {
    // margin: 5px;
    font-family: 'Cabin', sans-serif;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: lighten($theme-color, 40%);
    }
  }

  .Nav {

    a {
      margin-right: 5px;
      font-size: 1.2em;

      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
      }

      &:focus,
      &:hover {
        color: lighten($theme-color, 30%);
      }

      &:active {
        color: lighten($theme-color, 10%);
      }
    }
  }

  .mobileNav {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .Navbar {
    .Nav {
      display: none;
    }

    .mobileNav {
      display: flex;
      justify-content: center;

      button {
        font-size: 2em;
        color: inherit;
      }
    }
  }
}
