@import 'utility';

.Projects {
  margin: 0 auto;
  padding-top: 4em;
  height: 100vh;
  max-width: 1000px;

  img {
    width: 100%;
    box-shadow: 0 0 10px #4a4a4a;
  }

  hr {
    width: 100%;
  }

  .movieNight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;

    .desktopGIF {
      background-color: rgba(192, 193, 194, 0.9);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      overflow: hidden;

    }
  }

  .Mobile {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    // img {
    //   border-radius: 45px;
    // }
  }

  .bistroBraavos {
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  .tictactoe {
    display: flex;
    justify-content: center;
    flex-direction: column;

    // img {
    //   width: 100%;
    // }
  }

  .wealthGuidance a {
    // text-decoration: none;
    color: inherit;
    font-size: .9em;
  }

  .projectTitle {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .section-left {
      font-size: 4em;
      font-variant: small-caps;
      display: flex;
      align-items: center;

      .desktop-icon a {
        font-size: .7em;
      }

      .mobile-icon a {
        font-size: 1em;
      }
    }

    a {
      margin-right: 10px;
      text-decoration: none;
      color: inherit;
      font-size: 1.2em;

      &:hover {
        color: lighten($theme-color, 40%);
      }
    }
  }

  .projectDescription {
    font-size: 1.3em;
    padding: 10px;

    .skills-used {
      font-size: .8em;

      span {
        color: $theme-color;
      }
    }
  }

  .projectPitch {
    font-size: 1.2em;
    padding: 0 40px;
    margin-bottom: 5%;
  }
}
